html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}
button {
  display: block;
  background-color: #efa440;
  border: none;
  padding: 8px;
  color: white;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: #d8943a;
}
:root {
  font-size: 16px;
}
.mt-sm {
  margin-top: 0.5rem;
}
.mb-sm {
  margin-bottom: 0.5rem;
}
.ml-sm {
  margin-left: 0.5rem;
}
.mr-sm {
  margin-right: 0.5rem;
}
.mb-md {
  margin-bottom: 1rem;
}
.no-margins {
  margin: 0;
}
#canvas {
  position: fixed;
  z-index: -1;
}
.hover-menu {
  top: 20%;
  left: 10%;
  position: fixed;
  background-color: rgba(234, 222, 206, 0.9);
  padding: 1rem;
  cursor: move;
}
